################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CreditCardApplications/.vs/CreditCardApplications/v16
/CreditCardApplications/CreditCardApplications/obj
/moq-dot-net-core-unit-tests
